
// Font familys
$font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

// Font colors
$font-color-primary: #a0b1c5;
$font-color-light: #fffffff2;
$font-color-highlight: #3db4f2;


$color-primary: #0b1622;
$color-primary-light: #151f2e;
$color-primary-dark: #080f18;
