@use "colors.scss" as *;

nav.header {
	position: sticky;
	width: 100%;
	left: 0px;
	height: 75px;
	top: 0px;
	background-color: #152232;
	display: flex;
	z-index: 1;
	transition: background-color 1s;
	overflow-y: clip;
	overflow-x: auto;
	scrollbar-width: none;

	>:first-child {margin-left: auto}
	>:last-child {margin-right: auto}

	&::-webkit-scrollbar {
		width: 0px;
	}

	img {
		width: 75px;
		height: 75px;
		object-fit: cover;
		border-radius: 50%;
		top: -15px;
		position: relative;
	}

	> a {
		font-family: $font-family;
		font-size: 25px;
		font-weight: 700;
		text-decoration: none;
		color: $font-color-primary;
		margin: 0px;
		margin: 0px 10px;
		margin-top: 15px;

		&:hover {
			color: #d3d5f3;
		}
	}
}

nav.media {
	background-color: rgba(35,38,67,.5);
}