nav.header {
	position: fixed;
	width: 100%;
	left: 0px;
	height: 75px;
	top: 0px;
	background-color: #152232;
	display: flex;
	place-content: center;
	z-index: 1;
	transition: background-color 1s;

	img {
		width: 75px;
		height: 75px;
		object-fit: cover;
		border-radius: 50%;
		top: -15px;
		position: relative;
	}

	> a {
		font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		font-size: 25px;
		font-weight: 700;
		text-decoration: none;
		color: #a0b1c5;
		margin: 0px;
		margin: 0px 10px;
		margin-top: 15px;

		&:hover {
			color: #d3d5f3;
		}
	}
}

nav.media {
	background-color: rgba(35,38,67,.5);
}