@use "colors.scss" as *;

.search-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	width: min(100%, 450px);
	padding: 10px;
	margin-top: 120px;
	border-radius: 5px;

	&.open {
		background: $color-primary;
		box-shadow: 0 0 0px 100vmax #00000085;
	}

	.searchBar {
		position: relative;
		display: flex;
		background-color: $color-primary-light;
		border-radius: 50px;
		height: 55px;
		box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
		width: 100%;

		.search-input {
			position: relative;
			// background-color: $color-primary-light;
			height: 100%;
			width: 100%;
			// box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
			overflow: hidden;
			margin-bottom: 35px;
	
			.search-icon {
				position: absolute;
				width: 15px;
				top: 20px;
				left: 18px;
				color: #516170;
			}
	
			input.search {
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: transparent;
				outline: none;
				border: none;
				font-size: 14px;
				border-radius: 5px;
				font-family: Helvetica;
				font-weight: 600;
				color: rgb(139,160,178);
				padding-left: 43px;
				text-overflow: ellipsis;
	
				&::placeholder {
					color: #516170;
				}
			}
		}

		.advancedSearch {
			background-color: #202f46;
			position: relative;
			margin: 3px;
			border-radius: 100px;
			padding-inline: 15px;
			line-height: 0.8;
			display: grid;
			place-items: center;
			font-weight: 600;
			cursor: pointer;

			p {
				margin: 0px;
				text-align: center;
			}
		}
	}

	.ageRating, .searchType {
		position: relative;
		width: 100px;
		height: 30px;
		background-color: $color-primary-light;
		display: flex;
		border-radius: 50px;
		box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
		margin-left: 10px;
		pointer-events: none;

		.text {
			position: absolute;
			width: calc(100% - 20px);
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			top: -20px;
			justify-content: space-between;

			p {
				color: rgb(139,160,178);
				font-family: Helvetica;

			}
		}

		input {
			position: absolute;
			inset: 0px;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: all;
			cursor: pointer;
		}

		.custom-range {
			position: absolute;
			width: calc(100% - 42px);
			height: 100%;
			pointer-events: none;
			user-select: none;

			p {
				position: absolute;
				left: 0px;
				top: calc(50% - 2px);
				transform: translateY(-50%);
				font-size: 30px;
				text-shadow: 0 0 hsl(216deg 37% 25%), 0 0 5px black;
				color: transparent;
				transition: color .2s, transform .2s;

				@at-root :is(.ageRating, .searchType):hover .custom-range p {
					transform: translateY(-50%) scale(1.1);
					text-shadow: 0 0 hsl(216deg 37% 25%);
					color: white;
					z-index: 1;
				}
			}
		}

		p {
			margin: 0px;
		}

		.bottomText {
			position: absolute;
			width: 100%;
			text-align: center;
			color: rgb(139,160,178);
			font-family: Helvetica;
			top: 6px;
			font-weight: 600;
			opacity: .8;
		}
	}

	.searchType {
		left: 120px;
		top: -30px;
	}
}