.animeInfoBody {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #0B1622;
	overflow: hidden;
	
	.banner {
		position: relative;
		width: 100%;
		top: 0px;
		background-color: #152232;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
		color: #a0b1c5;
		min-height: 200px;

		img:not(img[src]) {
			display: none;
		}

		img {
			position: relative;
			object-fit: cover;
			width: 100%;
			height: 342px;
			filter: brightness(.9);
		}
	}

	.info {
		position: relative;
		display: grid;
		place-items: center;
		width: 100%;
		
		.container {
			position: relative;
			width: clamp(200px, 100% - 100px, 1520px);
			display: flex;
			place-content: center;
			gap: 25px;

			.left-container {
				position: relative;
				width: 250px;
				top: -100px;

				a.coverImage {
					position: relative;
	
					img {
						width: 250px;
						object-fit: cover;
						border-radius: 5px;
					}
				}

				.genres {
					background-color: #151F2E;
					position: relative;
					padding: 10px;
					border-radius: 5px;
					margin-top: 25px;
					display: flex;
					flex-wrap: wrap;
					gap: 5px;
					box-shadow: 3px 3px 7px #0000004a;

					.title {
						width: 100%;
						p {
							font-size: 14px;
							font-weight: 500;
							color: #a0b1c5;
							background: #0b1622;
							width: max-content;
							padding: 2px 10px;
							border-radius: 5px;
							margin: auto;
							margin-top: -5px;
						}
					}

					.genre {
						background-color: hsl(216, 37%, 20%);
						padding: 3px 5px;
						border-radius: 5px;
						flex-grow: 1;
						

						p {
							font-weight: 500;
							font-size: 14px;
							margin: 0px;
							color: rgba(255, 255, 255, 0.8);
							text-align: center;
						}
					}
				}

				.tags {
					background-color: #080f18;
					position: relative;
					padding: 10px;
					border-radius: 5px;
					margin-top: 25px;
					box-shadow: 3px 3px 7px rgb(0 0 0 / 57%);				

					&:not(.spoilers) .hide {display: none}
					&.spoilers {
						.show {display: none}
						

						.tag.spoiler {
							display: flex;
						}
					}

					.title {
						font-size: 18px;
						font-weight: 700;
						margin: 0px;
						font-size: 21px;
						font-weight: 600;
						color: #a0b1c5;
						margin: 0px;
						margin-top: -5px;
					}

					.tag {
						display: flex;
						justify-content: space-between;
						align-items: center;
						background-color: #151F2E;
						position: relative;
						width: 100%;
						padding: 3px 5px;
						margin-top: 5px;
						border-radius: 5px;

						&.spoiler {
							background-color: #360000;
							display: none;
							p:not(.desc) {color: #ffa4a4}
							&:hover {
								background-color: hsl(0, 100%, 18%);
							}
						}

						p {
							font-weight: 500;
							font-size: 14px;
							margin: 0px;
							color: rgba(255, 255, 255, 0.8);
						}

						&:hover {
							background-color: hsl(216, 37%, 20%);
							.desc {
								opacity: 1;
								transform: translateX(-50%) scale(1);
							}
						}
						
						.desc {
							z-index: 1;
							position: absolute;
							opacity: 0;
							transition: transform .1s, opacity .1s;
							left: 50%;
							transform: translateX(-50%) scale(.5);
							transform-origin: bottom;
							bottom: calc(100% + 10px);
							border-radius: 5px;
							pointer-events: none;
							background-color: rgb(65, 65, 65);
							padding: 5px;
							max-width: calc(100% + 40px);
							width: max-content;
							color: white;
							font-weight: 400;
							user-select: none;
						}
					}

					.button {
						cursor: pointer;
						padding-left: 5px;
						margin-top: -5px;

						span {
							font-weight: 600;
						}
					}
				}
			}

			.right-container {
				position: relative;
				display: grid;
				width: min(100%, 950px);
				height: max-content;
				padding-bottom: 100px;

				.textContainer {
					position: relative;
					margin-top: 25px;
					width: 100%;
					background-color: #151F2E;
					border-radius: 5px;
					padding: 15px;
					overflow: hidden;
					box-shadow: 3px 3px 7px #0000004a;

					div.wmde-markdown {
						background: none;
						margin-top: 12px;
				
						li {
							color: #a0b1c5;
							font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
							font-size: 14px;
							font-weight: 400;
						}
					}

					.moreInfo {
						position: absolute;
						bottom: 0px;
						left: 0px;
						width: 100%;
						height: 25px;
						background-color: #151f2e;
						transition: background .1s, opacity .1s, box-shadow .1s;
						cursor: pointer;
						
						&:hover {
							box-shadow: 0 0 7px 3px #080f18, 0 0 7px 3px #080f18, 0 0 7px 3px #080f18, 0 0 7px 3px #080f18;
							opacity: 1;
							background-color: #080f18;
						}

						p {
							position: relative;
							text-align: center;
							bottom: 15px;
							font-weight: 700;
						}
					}

					&.show .moreInfo {
						visibility: hidden;
					}
				}

				.scores {
					background-color: #151f2e;
					border-radius: 5px;
					padding: 12px;
					display: flex;
					margin-top: 25px;
					width: 100%;
					position: relative;
					min-height: 90px;
					box-shadow: 3px 3px 7px #0000004a;
		
					.meanScore {
						height: calc(100% - 20px);
						border-right: 2px solid #0B1622;
						position: relative;
						font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
						font-size: 14px;
						font-weight: 400;
						color: #a0b1c5;
						margin: 0px;
						width: max-content;
						margin: auto 0px;
						text-align: center;
						line-height: 1.05;
						padding-right: 25px;
						display: grid;
						place-content: center;
		
						.title {
							padding: 3px 5px;
							background: #0b1622;
							border-radius: 3px;
							font-weight: 500;
							white-space: pre;
						}
		
						.score {
							font-size: 30px;
							font-weight: 700;
							color: rgba(255, 255, 255, 0.95);
						}
					}
		
					.stats {
						position: relative;
						height: max-content;
						margin: auto 0px;
						padding: 0px 25px;
		
						p {
							font-size: 20px;
							margin: 0px;
						}
		
						span {
							font-weight: 700;
							color: rgba(255, 255, 255, 0.85);
							// filter: brightness(1.3);
						}
		
						.top, .bottom {
							display: flex;
							gap: 25px;
						}
		
						.bottom {
							margin-top: 15px;
							gap: 15px;

							.releaseYear, .format {
								display: grid;
    						place-content: center;
							}

							.studio, .staff {
								display: flex;
								column-gap: 15px;
								flex-wrap: wrap;

								span {
									background-color: #0b1622;
									font-size: 12px;
									font-weight: 500;
									padding: 1px 5px;
									border-radius: 5px;
									white-space: nowrap;
								}
							}

							div:not(:last-child) {
								border-right: 2px solid #0b1622;
								padding-right: 15px;
							}
							p {
								font-size: 18px;
							}
						}
					}
				}

				.relationsContainer {
					margin-top: 25px;

					.relations {
						display: grid;
						flex-wrap: wrap;
						margin-top: 5px;
						border-radius: 5px;
						gap: 15px;
						grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

						&.small {
							grid-template-columns: repeat(auto-fill, 90px);
							gap: 17px;

							.relation {
								inset: 0px;
								// &:hover {
								// 	width: 400px;
								// 	z-index: 1;
								// }

								h4 {
									position: absolute;
									left: 50%;
									transform: translateX(-50%);
									margin-inline: auto;
									bottom: 5px;
								}


								img {
									width: 90px;
								}
							}
						}
						
						.relation {
							position: relative;
							display: flex;
							height: 120px;
							background-color: #151f2e;
							border-radius: 5px;
							overflow: hidden;
							text-decoration: none;
							box-shadow: 3px 3px 7px #0000004a;

							img {
								width: 85px;
								object-fit: cover;
								flex-shrink: 0;
							}

							.relationInfo {
								display: flex;
								flex-direction: column;
								margin-left: 10px;
								margin-top: 5px;
								margin-bottom: 5px;
								padding-right: 10px;
							}

							.bottom {
								display: flex;
								gap: 5px;
								margin-top: auto;
								opacity: .8;
							}

							.firstLetter::first-letter {
								text-transform: uppercase
							}

							h4 {
								color: rgb(61,180,242);
								font-weight: 500;
								font-size: 11px;
								background-color: #0B1622;
								width: max-content;
								padding: 2px 5px 3px;
								border-radius: 3px;
							}

							p {
								margin: 0px;
								margin-top: 5px;
								font-size: 13px;
								max-height: 55px;
								overflow: hidden;
							}
						}
					}
				}

				.trailerContainer {
					h2 {
						margin-top: 25px;
						margin-bottom: 5px;
					}
				}

				.character-container {

					h2 {
						margin-top: 25px;
						margin-bottom: 8px;
					}

					.characters {
						position: relative;
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
						place-content: center;
						gap: 15px;
						width: min(100%, 1300px);
						margin-inline: auto;
					
						.character {
							position: relative;
							height: 90px;
							width: 100%;
							background-color: #151F2E;
							display: flex;
							border-radius: 5px;
							overflow: hidden;
							box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
	
							.right, .left {
								position: relative;
								width: 100%;
								flex-grow: 1;
								display: flex;
								text-decoration: none;
									
								div {
									display: flex;
									flex-direction: column;
									margin: 10px;
					
									p.name {
										font-size: 14px;
										font-weight: 500;
										color: #a0b1c5;
									}
									p.actor {
										font-size: 12px;
										color: #a0b1c5;
									}
									p {
										font-size: 12px;
										color: hsl(212, 24%, 60%);
										&.notes {
											font-size: 10px;
											color: hsl(212, 24%, 50%);
										}
									}
					
									p:last-child {
										margin-top: auto;
									}
								}
					
								&.right {
									text-align: right;
									justify-content: end;
								}
					
								img {
									position: relative;
									left: 0px;
									height: 100%;
									width: 60px;
									object-fit: cover;
									transition: filter .2s;
						
									&:not([src]) {
										display: none;
									}
								}
					
								p {
									color: #a0b1c5;
									margin: 0px;
									font-size: 14px;
									font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
									margin-inline: 5px;
									word-break: break-word;
									text-decoration: none;
									&.role::first-letter {text-transform: uppercase}
								}
							}
						}
					}
				}

				
			}
		}


		h1, h2, h3, h4 {
			font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			font-size: 21px;
			font-weight: 600;
			text-decoration: none;
			color: #a0b1c5;
			margin: 0px;
		}
		h2 {font-size: 18px}
		h3 {font-size: 16px}
		h4 {font-size: 14px}
	}

	p {
		font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		color: #a0b1c5;
		margin: 0px;
		margin-top: 15px;
	}
}