@use "../Components/colors.scss" as *;

.not-found {
	position: relative;
	inset: 0px;
	min-height: calc(100vh - 75px);
	display: grid;
	place-content: center;

	h1, h2 {
		font-family: $font-family;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: $font-color-primary;
    margin: 0px;
		text-align: center;
		line-height: .9;
	}

	h1 {
		font-size: 150px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 200px;
	}
}