@use "../Components/colors.scss" as *;

.animes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	left: 0px;
	top: 0px;
	position: relative;
	width: 100%;
	margin-top: 115px;
	min-height: 100vh;

	.anime {
		width: 200px;
		margin: 10px;
		padding: 10px;
		background-color: #152232;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 325px;
		box-sizing: content-box;

		&.loading {
			position: relative;
			.image, .title, .description {
				display: block;
				position: absolute;
				background-color: $color-primary;
				background-image: repeating-linear-gradient(45deg, #0000001f, transparent 100px);
				border-radius: 5px;
				width: 180px;
				background-size: 500%;
				animation: animeGradient 2s ease-in-out infinite;
			}

			.image {
				--offset: 0%;
				inset: 0px;
				margin: 25px auto;
				height: 250px;
				// background-image: repeating-linear-gradient(45deg, black, transparent 100px);
				// animation: animeGradient 1s ease-in-out infinite;
			}	
			
			.title {
				--offset: 7%;
				inset-inline: 0px;
				bottom: 40px;
				margin: auto;
				height: 20px;
				// background-image: repeating-linear-gradient(45deg, black, transparent 100px);
				// animation: animeGradient 1s ease-in-out infinite;
			}
			.description {
				--offset: 14%;
				inset-inline: 0px;
				bottom: 15px;
				margin: auto;
				height: 20px;
				// background-image: repeating-linear-gradient(45deg, black, transparent 100px);
				// animation: animeGradient 1s ease-in-out infinite;
			}
			@keyframes animeGradient {
				0% {
					background-position-x: calc(79% + var(--offset) + 3px);
				}
				100% {
					background-position-x: calc(0% + var(--offset));
				}
			}
		}

		a {
			position: relative;
			width: 180px;
			text-decoration: none;
			color: $font-color-primary;
			font-size: 20px;
			font-weight: 700;
			margin: 0px;
			margin-top: 15px;
		}

		img {
			width: 180px;
			height: 250px;
			object-fit: cover;
			border-radius: 5px;
			pointer-events: none;
			user-select: none;
		}

		p {
			position: relative;
			font-family: $font-family;
			font-size: 15px;
			font-weight: 700;
			text-decoration: none;
			word-break: break-word;
			color: $font-color-primary;
			margin: 0px;
			margin-top: 15px;
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.description {
			font-family: $font-family;
			font-size: 15px;
			font-weight: 400;
			text-decoration: none;
			color: $font-color-primary;
			margin: 0px;
			margin-top: 15px;
		}
	}
}