.animes {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	right: 0px;
	position: absolute;
	width: calc(100% - 250px);
	top: 75px;

	.anime {
		width: 200px;
		margin: 10px;
		padding: 10px;
		background-color: #152232;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 325px;
		box-sizing: content-box;

		&.bottom {
			position: relative;
			&::after, &::before {
				content: "";
				display: block;
				position: absolute;
				background-color: #0B1622;
				border-radius: 5px;
				width: 180px;
			}

			&::before {
				inset: 0px;
				margin: 25px auto;
				height: 250px;
			}	

			&::after {
				inset-inline: 0px;
				bottom: 40px;
				margin: auto;
				height: 20px;
				box-shadow: 0 25px #0B1622;
			}
		}

		a {
			position: relative;
			width: 180px;
			text-decoration: none;
			color: #a0b1c5;
			font-size: 20px;
			font-weight: 700;
			margin: 0px;
			margin-top: 15px;
		}

		img {
			width: 180px;
			height: 250px;
			object-fit: cover;
			border-radius: 5px;
			pointer-events: none;
			user-select: none;
		}

		p {
			position: relative;
			font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
			font-size: 15px;
			font-weight: 700;
			text-decoration: none;
			word-break: break-word;
			color: #a0b1c5;
			margin: 0px;
			margin-top: 15px;
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.description {
			font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
			font-size: 15px;
			font-weight: 400;
			text-decoration: none;
			color: #a0b1c5;
			margin: 0px;
			margin-top: 15px;
		}
	}
}