@use "../Components/colors.scss" as *;

body {
	background-color: $color-primary;
	color: $font-color-primary;
	font-family: $font-family;
	margin: 0px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

img[src=""], img:not(img[src]) {
	visibility: hidden;
}

#root .App {
	footer {
		position: relative;
		height: 300px;
		background-color: $color-primary-dark;
		width: 100%;
		margin-top: 50px;
	}
}

@keyframes animeGradient {
	0% {
		background-position-x: calc(-566px + var(--offset))
	}
	100% {
		background-position-x: calc(0px + var(--offset));
	}
}