body {
	background-color: #0B1622;
	overflow-y: scroll;
	color: #a0b1c5;
	font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

*, ::after, ::before {
	box-sizing: border-box;
}

img[src=""], img:not(img[src]) {
	visibility: hidden;
}

.app {
	display: grid;
}