@use "../Components/colors.scss" as *;

body {
	background-color: $color-primary;
	overflow-y: scroll;
	color: $font-color-primary;
	font-family: $font-family;
}

*, ::after, ::before {
	box-sizing: border-box;
}

img[src=""], img:not(img[src]) {
	visibility: hidden;
}

.app {
	display: grid;
}