nav {
	background-color: rgba(35,38,67,.5);
}

.animeInfoBody {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	
	.banner {
		position: relative;
		width: 100%;
		top: 0px;
		background-color: #152232;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
		color: #a0b1c5;
		min-height: 200px;

		img:not(img[src]) {
			display: none;
		}

		img {
			position: relative;
			object-fit: cover;
			width: 100%;
			height: 342px;
			filter: brightness(.9);
		}
	}

	.info {
		position: relative;
		background-color: #151F2E;
		display: grid;
		place-items: center;
		width: 100%;
		
		.container {
			position: relative;
			width: clamp(200px, 100% - 100px, 1520px);
			display: flex;
			gap: 25px;

			.left {
				position: relative;
				width: 250px;
			}

			.right {
				position: relative;
				width: 100%;
			}
		}

		.textContainer {
			position: relative;
			width: min(100%, 925px);
		}

		h1 {
			font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			font-size: 25px;
			font-weight: 700;
			text-decoration: none;
			color: #a0b1c5;
			margin: 0px;
		}
		a.coverImage {
			position: relative;
			top: -100px;
	
			img {
				width: 250px;
				height: 300;
				object-fit: cover;
			}
		}

		.relations {
			display: flex;
			flex-wrap: wrap;
		}
	}


	div.wmde-markdown {
		background: none
	}

	p {
		font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		color: #a0b1c5;
		margin: 0px;
		margin-top: 15px;
	}
}